<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/upload.css">
    <!--  <script src="https://unpkg.com/ipfs-api/dist/index.min.js"></script>
    <script src="https://npmcdn.com/ipfs-api/dist/index.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="/">
            <%=title%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item" data-toggle="modal" data-target="#buyToken">
                    <a class="nav-link" href="#">Buy SATs
                        </a>
                </li>
                <li class="nav-item" data-toggle="modal" data-target="#sellToken">
                    <a class="nav-link" href="#">Sell SATs
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Become a Reviewer
                        </a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-success my-2 my-sm-0" id="btn-signin" href="/logout">Logout</a>
            </form>

        </div>
    </nav>
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img class="card-img-top" style="height:60%;" src="/img/Avatar.png" alt="Card image cap">
                <div class="card-body">
                    <center>
                        <h3 class="card-title"><strong><%=user.uname%></strong></h3>
                    </center>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name :
                        <%=user.fname%>&nbsp;
                            <%=user.lname%>
                    </li>
                    <li class="list-group-item">Email Id :
                        <%=user.email%>
                    </li>
                    <!-- <li class="list-group-item">Public Key : <%=user.address%></li>  -->

                </ul>

            </div>
            <!-- <center>
				<div class="avatar">
					<img src="">
				</div>
				<div class="username">
					<h4><strong><i><%=user.fname%></i></strong></h4>
				</div>
				
			</center> -->
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <br>
            <center>
                <h3>Reviews</h3>
            </center>
            <br>
            <% if(sub.length == 0){%>
                <center>
                    <h6>You do not have any reviews</h6>
                </center>
                <%}else{%>
                    <table class="table-fill">
                        <thead>
                            <tr>
                                <th class="text-left" style="width:60%;">Reviewer Address</th>
                                <th class="text-left" style="width:20%;">Review</th>
                                <th class="text-left">Rating</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover">
                            <%for(var i=0;i<sub.length;i++){%>
                                <tr>
                                    <td class="text-left">
                                        <%=sub[i].owner%>
                                    </td>
                                    <td class="text-left" id="accuracy">
                                        <%=sub[i].review%>
                                    </td>
                                    <td class="text-left" id="accuracy">
                                        <%=sub[i].marks%>
                                    </td>
                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                    <%}%>

        </div>
        <!-- <script type="text/javascript">
            $(document).ready(function() {
                var balance = parseInt($('#balance').html());
                if (balance < 100) {
                    $('button').prop('disabled', true);
                    swal("Low Balance!", "Please buy tokens", "error");
                }

            });
        </script> -->


        <!-- <div id="upload-doc">
            <span>Add Post</span>
            <button type="button" id="upload-button" data-toggle="modal" data-target="#exampleModal">
			<h2>+</h2>
		</button>
        </div> -->


        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload New Document</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" action="/upload" method="POST" enctype="multipart/form-data">
                            <div class="file-upload-wrapper" data-text="Select your file!">
                                <input name="file" id="file" type="file" class="file-upload-field" required>
                            </div>

                            <select name="domain" required="Please Select One">
                            	<option val="Machine Learning">Machine Learning</option>
                            	<option val="Blockchain">BlockChain</option>
                            	<option val="Cloud Computing">Cloud Computing</option>
                            	<option val="Artificial Intelligence">Artificial Intelligence</option>
                            	<option val="Cyber Security">Cyber Security</option>
                            	<option val="Computer Networks">Computer Networks</option>
                            	<option val="Digital Signal Processing">Digital Signal Processing</option>
                            </select>
                            <br>
                             -->
        <!-- <br>
        <input class="btn btn-danger btn-lg" id="btn-upload" type="submit" value="Confirm" />
        </form> -->
    </div>
    </div>
    </div>
    </div> -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="js/navbar.js"></script>
    <script type="text/javascript" src="js/upload.js"></script>

    <!-- <script type="text/javascript">
        $("form").on("change", ".file-upload-field", function() {
            $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, ''));
        });
    </script> -->


</body>

</html>