<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/upload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="/">
            <%=title%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" data-toggle="modal" data-target="#buyToken">
                    <a class="nav-link" href="#">Buy SATs
                    </a>
                </li>
                <li class="nav-item" data-toggle="modal" data-target="#sellToken">
                    <a class="nav-link" href="#">Sell SATs
                    </a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-success my-2 my-sm-0" id="btn-signin" href="/logout">Logout</a>
            </form>

        </div>
    </nav>


    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img class="card-img-top" style="height:60%;" src="/img/Avatar.png" alt="Card image cap">
                <div class="card-body">
                    <center>
                        <h3 class="card-title"><strong><%=user.uname%></strong></h3>
                    </center>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name :
                        <%=user.fname%>&nbsp;
                            <%=user.lname%>
                    </li>
                    <li class="list-group-item">Email Id :
                        <%=user.email%>
                    </li>
                    <li class="list-group-item">Account Balance : <span id="balance"><%=balance%></span> SAT

                    </li>
                </ul>

            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function() {

                function sendyes(hash) {
                    var status = "YES";
                    alert(status);
                    $('#inputhash').val(hash);
                    $('#status').val(status);
                }


                function sendno(hash) {
                    var status = "NO";
                    alert(status);
                    $('#inputhash').val(hash);
                    $('#status').val(status);
                }
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                var balance = parseInt($('#balance').html());
                if (balance < 10) {
                    $('button').prop('disabled', true);
                    swal("Low Balance!", "Please buy tokens to continue reviewing", "error");
                }

            });
        </script>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <br><br>

            <% if(sub1.length == 0){%>
                <center>
                    <h6>No Papers yet</h6>
                </center>
                <%}else{%>
                    <table class="table-fill" id="new-papers">
                        <thead>
                            <tr>
                                <th class="text-left" style="width:75%;">Hash Value</th>
                                <th class="text-left" style="width:20%;">Domain</th>

                                <th class="text-left">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover">
                            <%for(var i=0;i<sub1.length;i++){%>
                                <tr>
                                    <td class="text-left" id="hash">

                                        <%=sub1[i].uname%>

                                    </td>
                                    <td class="text-left">
                                        <%=sub1[i].address%>
                                    </td>
                                    <td class="text-left" id="accuracy"><button class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" id="yes" onclick="$('#inputhash').val('<%=sub1[i].address%>');">Review</button></td>
                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                    <%}%>
        </div>
    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                </div>
                <div class="modal-body">
                    <form class="form" action="/review" method="POST">
                        <label>Company Address : </label><input id="inputhash" type="text" name="company" value="" readonly>
                        <br>
                        <label>Marks: </label>
                        <input id="status" name="marks" type="number" max=10 min=0>
                        <br>
                        <label>Comments : </label>
                        <br>
                        <textarea rows="4" cols="50" required name="comments"></textarea>
                        <input class="btn btn-danger btn-lg" id="btn-upload" type="submit" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="buyToken" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy SATs</h5>
                </div>
                <div class="modal-body">
                    <form class="form" action="/">
                        <label>Buy Tokens: </label>
                        <input id="buyT" name="buyT" type="number" max=100 min=1>
                        <input class="btn btn-info btn-lg" id="btn-buy" type="button" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sellToken" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sell SATs</h5>
                </div>
                <div class="modal-body">
                    <form class="form" action="/sellTokens" method="POST">
                        <label>Sell Tokens: </label>
                        <input id="sellT" name="sellT" type="number" max=<%=balance%> min=1>
                        <input class="btn btn-info btn-lg" id="btn-upload" type="submit" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="review-contents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reviewed Details</h5>
                </div>
                <div class="modal-body">
                    <ul style="list-style-type: none;">
                        <li><strong>Marks : </strong><span id="marks"></span></li>
                        <li><strong>Comments : </strong><span id="comments"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="js/navbar.js"></script>
    <script type="text/javascript" src="js/upload.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#new-domain').val('All');
            $('#domain').val('All');

            $('#new-domain').on('change', function() {
                var domain = ($(this).find(":selected").val()).toLowerCase();
                if (domain === "all") {
                    domain = "";
                }
                $("#new-papers tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(domain) > -1)
                });


            });

            $('#domain').on('change', function() {
                var domain = ($(this).find(":selected").val()).toLowerCase();
                if (domain === "all") {
                    domain = "";
                }
                $("#paper tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(domain) > -1)
                });


            });


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {


            $('#btn-buy').click(function() {
                var x = $('#buyT').val();
                alert(x);
                $.post('/buyTokens', {
                    data: x
                }, function(response) {
                    window.location.reload();
                });
            });
        });
    </script>

</body>

</html